#conteneurmain{
    width: 100%;
    height: 100%;
    background-image: url(../img/grassbackground.png);
    background-repeat: repeat;
    display:flex;
    flex-direction: column;
}

#conteneurmain > div{
    width: 100%;
    overflow: hidden;
}

#opponentzone{
    background-color: blue;
    height: 10%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats2{
    width: var(--sides);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.cardzone{
    display:flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
}

#zone{
    height: 100%;
    display: grid;
    grid-template-columns: var(--sides) 1fr var(--sides);
    grid-template-rows: 1fr 1fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr;
    grid-template-areas: 
        "leftfield opponentfield rightfield"
        "leftfield opponentfield rightfield"
        "leftfield spacer1 rightfield"
        "leftfield playerfield rightfield"
        "leftstat playerfield menuoption"
        "leftstat spacer2 menuoption"
        "leftstat playerhand menuoption"
        "leftstat playerhand menuoption";
}
#zone > div{
    height:100%;
}

#spacer1{
    grid-area: spacer1;
    background-color: rgb(138, 212, 79);
}

#spacer2{
    grid-area: spacer2;
    background-color: rgb(138, 212, 79);
}

#opponentfield{
    grid-area: opponentfield;
}

#playerfield{
    grid-area: playerfield;
}

#playerhand{
    grid-area: playerhand;
}

#rightplayzone{
    grid-area: rightfield;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leftplayzone{
    grid-area: leftfield;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

#menu{
    grid-area: menuoption;
    width: var(--sides);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.stats{
    grid-area: leftstat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.stats>div{
    font-family: 'Press Start 2P';
}

#rightplayzone>div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    margin: auto;
}

#timer{
    font-size: larger;
}

.timeranimation{
    background-image: url(../img/hourglass.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

#currentplayer{
    line-height: 1.5;
    font-size: smaller;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}

#opponentavatar{
    height: 100%;
    width: 20%;
    background-color: orange;
    background-image: url(../img/tennis-ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 10%;
    height: 85%;
    min-height: 200px;
    min-width: 140px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: left;
    margin: 0px 10px;
}

.cardimage{
    position: relative;
    height: 55%;
    width: 100%;
    border-bottom: 2px solid black;
}

.cardstats{
    height: 100%;
    width: 30%;
    position: absolute;
    left: -17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardstats > div{
    z-index: 2;
    background-size: contain;
    width: 100%;
    height: 30%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Press Start 2P';
    font-size: smaller;
}

.cardcost{
    background-image: url(../img/tennis-ball.png);
}

.cardattack{
    background-image: url(../img/bone2.png);
}

.cardlife{
    background-image: url(../img/heart.png);
}

.carddesciption{
    height: 45%;
    width: 100%;
    word-wrap: break-word;
    font-size:x-small;
    line-height: 1.2;
    font-family: 'Press Start 2P';
    padding: 2px;
}

#playerhand>div:hover{
    transition: 2s;
    scale: 1.1;
}

.hoverme:hover{
    transition: 2s;
    scale: 1.1;
}

.glow{
    border: solid green 5px;
}

#waiting, #gamewon, #gamelost{
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 3;
    background-color: darkgreen;
    display: none;
    justify-content: center;
    align-items: center;
}

#waiting{
    display: flex;
}

#heropower{
    width: 140px;
    height: 140px;
    background-image: url(../img/power.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#endturn{
    width: 140px;
    height: 112px;
    background-image: url(../img/endturn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.stats>div{
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

}

#playerlife{
    background-image: url(../img/heart.png);
}

#playerenergy{
    background-image: url(../img/tennis-ball.png);
}

#playercardleft{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-family: 'Press Start 2P';
    line-height: 1.5;
}

#deckpile{
    width: 160px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/backcard.png);
}

