#conteneurmain{
    width: 100%;
    height: 100%;
    /* background-image: url(../img/grassbackground.png); */
    background-repeat: repeat;
    display:flex;
    flex-direction: column;
}

#conteneurmain > div{
    width: 100%;
    overflow: hidden;
}

#backgroundground{
    position: absolute;
    height: 60%;
    width: 100%;
    top: 40vh;
    background-image: url(../img/grassbackground.png);
    background-repeat: repeat;
    z-index: -2;
}

#backgroundsky{
    position: absolute;
    height: 40%;
    width: 100%;
    top: 0;
    background-image: url(../img/sky3.png);
    background-size: cover;
    z-index: -2;
}

#backgroundtree{
    position: absolute;
    height: 100%;
    width: 40%;
    bottom: 10%;
    left: 30%;
    background-size:contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../img/tree.png);

}

.stats>div{
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu>div{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#opponentzone{
    height: 15%;
    flex-direction: row;
    margin-bottom: 2px;
}

#opponentzone>div{
    width: 20%;
}

.stats2{
    height: 100%;
    flex:1;
    flex-direction: column;
}

.stats3{
    height: 100%;
    flex:1;
    flex-direction: row;
}

#extrawindow1{
    height: 100%;
    flex:1;
    background-image: url(../img/bubble5.png);
    background-position:left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: x-small;
}

#extrawindow2{
    height: 100%;
    flex:1;
    text-align: center;
    word-wrap: break-word;
}


.cardzone{
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.5);
}

#zone{
    height: 100%;
    display: grid;
    grid-template-columns: var(--sides) 1fr var(--sides);
    grid-template-rows: 1fr 1fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr;
    grid-template-areas: 
        "leftfield middlesection rightfield"
        "leftfield middlesection rightfield"
        "leftfield middlesection rightfield"
        "leftfield middlesection rightfield"
        "leftstat middlesection menuoption"
        "leftstat middlesection menuoption"
        "leftstat middlesection menuoption"
        "leftstat middlesection menuoption";
}
#zone>div{
    height:100%;
}

#middlesection{
    grid-area:middlesection;
    flex-direction: column;

}

#rightplayzone{
    grid-area: rightfield;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leftplayzone{
    grid-area: leftfield;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

#menu{
    grid-area: menuoption;
    width: var(--sides);
    height: 100%;
    flex-direction: column;
}

.stats{
    grid-area: leftstat;
    height: 100%;
    flex-direction: column;
}

#middlesection>div{
    width: 100%;
    height: 32%;
}

#rightplayzone>div {
    width: 100%;
    height: 100px;
    margin: auto;
}

#timer{
    font-size: larger;
}

.timeranimation{
    background-image: url(../img/hourglass.gif);
}

#currentplayer{
    line-height: 1.5;
    font-size: smaller;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}

#opponentavatar{
    height: 90%;
    width: auto;
    background-image: url(../img/opponent.gif);
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgba(128, 175, 128, 0.7);
}

#opponentlife{
    background-image: url(../img/heart.png);
}

#opponentenergy{
    background-image: url(../img/tennis-ball.png);
}

#opponentcardleft{
    background-image: url(../img/backcard.png);
}

#opponentlife, #opponentenergy, #opponentcardleft{
    width: 30%;
    height: 80%;
}

.card{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 10%;
    height: 85%;
    min-height: 200px;
    min-width: 140px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: left;
    margin: 0px 10px;
    background-image: url(../img/pawbackgroundresized.png);
}

.cardimage{
    position: relative;
    height: 60%;
    width: 100%;
    border-bottom: 2px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.cardstats{
    height: 100%;
    width: 30%;
    position: absolute;
    left: -17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardeffects{
    width: 100%;
    height: 30%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: -17%
    
}

.cardeffects > div{
    z-index: 2;
    background-size: contain;
    height: 100%;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
}


.cardstats > div{
    z-index: 2;
    background-size: contain;
    width: 100%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: smaller;
}

.taunt{
    background-image: url(../img/effect/taunt.png);
}

.stealth{
    background-image: url(../img/effect/stealth.png);
}

.battlecry{
    background-image: url(../img/effect/battlecry.png);
}

.deathrattle{
    background-image: url(../img/effect/deathrattle.png);
}

.confused{
    background-image: url(../img/effect/confused.png);
}

.charge{
    background-image: url(../img/effect/charge.png);
}

.cannotattack{
    background-image: url(../img/effect/cannotatk.png);
}

.cardcost{
    background-image: url(../img/tennis-ball.png);
}

.cardattack{
    background-image: url(../img/bone2.png);
}

.cardlife{
    background-image: url(../img/heart.png);
}

.carddesciptioncontain{
    overflow: hidden;
    height: 40%;
    width: 100%;

}

.carddesciption{
    padding: 2px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    font-size:x-small;
    line-height: 1.2;

}

#playerhand>div:hover{
    transition: 2s;
    scale: 1.1;
}

.hoverme:hover{
    transition: 2s;
    scale: 1.1;
}

.glow{
    box-shadow: 0 0 25px 5px #48abe0;
}

#waiting, #gamewon, #gamelost{
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-color: black;
}

#waiting{
    display: flex;
    background-image: url(../img/waiting.webp);
}

#gamewon{
    background-image: url(../img/victory.gif);
}

#gamelost{
    background-image: url(../img/defeat.gif);
}

#heropower{
    width: 140px;
    height: 140px;
    background-image: url(../img/power.png);
}

#endturn{
    width: 140px;
    height: 112px;
    background-image: url(../img/endturn.png);
}

#surrender{
    width: 140px;
    height: 112px;
    background-image: url(../img/foodbowl.png);
}


.stats>div{
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: larger;

}

#playerlife{
    background-image: url(../img/heart.png);
}

#playerenergy{
    background-image: url(../img/tennis-ball.png);
}

#playercardleft{
    flex-direction: column;
    line-height: 1.5;
}

#deckpile{
    width: 160px;
    height: 220px;
    background-image: url(../img/backcard.png);
}

.greyed{
    opacity: 0.5;
}

#togglechat{
    width: 75px;
    height: 75px;
    background-image: url(../img/chat.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

#chatboxcontainer{
    width: 60%;
    height: 80%;
    margin: 10% 20%;
    position: absolute;
    display: none;
    z-index: 10;
}